@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>İstanbulCoders.org</h1>
    <p class="lead">Continuous Delivery service for Windows</p>
    <p><a href="http://istanbulcoders.org" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>